*{

}

body{
    background-color: bisque;
    font-size: 16x;
    color: black.;

}

header{
    background-color: beige;
    color: rgb(255, 140, 0);
    height: 6em;
}

header h1{
    text-align: center;
}

img{
    width: 15%;
    border-radius: 12%;
}